body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto',Arial;
}
.page{
    display: flex;
    flex-direction: column;
}
/* Bar of navigation*/
.bar{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}
.logo img{
    width: 84px;
    height: 84px;
    margin-right: auto;
}
.link{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}
.link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto',Arial;
}
/* Start of content-1*/
.content1{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
.info{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
 }
 .info p{
    font-family: 'Roboto',Arial;
    opacity: 0.87;
 }
 h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Robot', arial;
}

.info button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}
 .image-ce{
     display: flex;
     width: 500px;
     height: 350px;
 }
 .image-ce{
     align-content: flex-end;
 }

.content3{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}




ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

.footer {
    color: #F9FAF8;
    background: #1F2937;
    font-family: 'Roboto',Arial;
}
